<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossy.app.everythinghouse" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".utils.launch.LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.launch.TabHostActivity"
            android:label="@string/title_activity_tab_host" >
        </activity>
        <activity
            android:name=".acts.EveryHouseActsActivity"
            android:label="@string/title_activity_every_house_acts" >
        </activity>
        <activity
            android:name=".main.EveryHouseMainActivity"
            android:label="@string/title_activity_every_house_main" >
        </activity>
        <activity
            android:name=".orders.EveryHouseOrderActivity"
            android:label="@string/title_activity_every_house_order" >
        </activity>
        <activity
            android:name=".utils.user.EveryHouseLoginActivity"
            android:label="@string/title_activity_every_house_login" >
        </activity>
        <activity
            android:name=".orders.send.EveryHouseOrderSendActivity"
            android:label="@string/title_activity_every_house_order_send" >
        </activity>
        <activity
            android:name=".utils.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".utils.message.EveryHouseMessageListActivity"
            android:label="@string/title_activity_every_house_message_list" >
        </activity>
        <activity
            android:name=".utils.user.EveryHouseUserActivity"
            android:label="@string/title_activity_every_house_user" >
        </activity>
    </application>

</manifest>
